<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Lucca Chat!</h1>
  </div>
  <div class="container pagination-centered row">
    <div class="chat-container col-12 col-sm-6 panel panel-primary">
      <div class="panel-heading">{{userName}}</div>
      <div class="panel-body">
        <div class="messages-list">

        </div>
        <div class="message-box">
          <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
          <button type="submit" class="message-submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
