//Figgo #7e88b6
//Timmi #6fc0a5
.panel-body {
  min-height: 300px;
}

.chat-container {
  padding: 0;
}
.figgo-box-style {
  background: #7e88b6;
}
.timmi-box-style {
  background: #6fc0a5;
}

.messages-list {
  display: block;
  & ul {
    padding: 0;

    & li {
      width: 80%;
    }
  }
}

.figgo-style {
  background: #aebbf6;
  margin-right: auto;
}
.timmi-style {
  background: #9afddc;
  margin-left: auto;
}

.message-box {
  width: 90%;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;

  & .message-input {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    font-size: 15px;
    height: 24px;
    margin: 0;
    width: 100%;
    color: #444;
  }
  textarea:focus:-webkit-placeholder {
    color: transparent;
  }
  & .message-submit {
    z-index: 1;
    color: #4A90E2;
    border: none;
    background: #fff;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 5px;
    outline: none !important;
    transition: background .2s ease;
    cursor: pointer;
    &:hover {
      background: #fff;
      color: #333;
    }
  }
}
